@media only screen and (max-width: 600px) {
}
body {
    font-size: 12px;
    font-family: 'Libre Franklin', sans-serif;
    color: #333333;
    min-width: 375px;
    min-height: 1948px;
    background-color: white;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.first {
    background-image: url("bg.png");
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 275px;
    text-align: center;
}

.back {
    background: #C66C4966 40%;
    min-width: 100%;
    top: 0;
    left: 0;
    min-height: 275px;
}

#sv {
    position: absolute;
    width: 24px;
    height: 24px;
    color: white;
    margin: unset;
    left: 34px;
    top: 39px;
    padding: unset;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 36px 129px;
    margin: unset;
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 15px;
}

h3 {
    font-weight: 400;
    margin: unset;
    font-size: 13px;
    line-height: 16px;
}

h4 {
    text-decoration-line: underline;
    font-weight: 400;
    margin-top: 41px;
    font-size: 13px;
    line-height: 16px;
}

.second {
    width: 375px;
    height: 293px;
}

.second h1 {
    padding: 25px 150px 7px 150px;
    text-align: center;
}

.second p {
    padding: 0 30px;
    text-align: justify;
}

.third {
    width: 375px;
    height: 617px;
    background-color: #FFFAF2;
}

#skills {
    margin: unset;
    padding: 25px 156px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.third img {
    width: 224px;
    height: 218px;
    padding-left: 71px;
    padding-right: 80px;
    margin: unset;
}

.params {
    padding-left: 33px;
    padding-right: 33px;
    font-weight: 400;
}

.params strong {
    font-weight: 600;
    line-height: 25px;

}

.params span {
    text-align: left;
}

.blocks {
    padding-top: 9px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile {
    padding-top: 18px;
    padding-bottom: 22px;
}

.progressBar {
    width: 73%;
    height: 18px;
    background: #F5D6AB;
}

.bar {
    height: 100%;
    background: #C66C49;
}

.fourth {
    width: 375px;
    height: 404px;
}

#port {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: unset;
    padding-top: 25px;
    padding-bottom: 19px;
}

#ux {
    text-align: center;
    font-weight: 500;
    font-size: 14px;

}

#lorem {
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin: unset;
    line-height: 15px;
}

img{
    display: flex;
    padding-left: 6px;
    padding-bottom: 6px;
}

.fourth div{
    display: inline-block;
}

.collage {

}

.fifth {
    background-color: #FFFAF2;
    width: 375px;
    height: auto;
}
.get-in-touch h1 {
    font-size: 24px;
    padding-top: 26px;
    text-align: center;
}

.container-get {
    display: flex;
    justify-content: flex-start;
}

.get-left {
    padding-left: 42px;
    padding-right: 90px;
}

.get-end {
    padding-left: 42px;
    padding-bottom: 50px;
}