@media only screen and (max-width: 600px) {
}

body {
    font-family: 'Libre Franklin', sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

.padding {
    padding: 0 29px 0 34px;
}

.first {
    background-image: url("bg.png");
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.back {
    background: #C66C4966 40%;
    height: 275px;
}

#sv {
    text-align: start;
    position: relative;
    width: 24px;
    height: 24px;
    left: 34px;
    top: 39px;
    padding: unset;
}

.headers {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    line-height: 29px;
    margin-top: 9px;
    font-weight: 700;
    font-size: 24px;
}

h2 {
    line-height: 24px;
    margin-top: 34px;
    margin-bottom: unset;
    font-weight: 400;
    font-size: 20px;
}

h3 {
    line-height: 15px;
    font-weight: 400;
    font-size: 13px;
}

h4 {
    line-height: 15px;
    margin-top: 28px;
    font-weight: 400;
    font-size: 13px;
    text-decoration-line: underline;
}

.second {
    padding: 25px 29px 0 34px;
}

.second h1 {
    line-height: 29px;
    text-align: center;
    margin: 0 6px 19px 0;
}

.second p {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    line-height: 15px;
    height: 212px;
    margin-bottom: 8px;
}

.third {
    padding: 0 29px 0 34px;
    background-color: #FFFAF2;
}

#skills {
    line-height: 29px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 25px 5px 25px 0;
    margin: unset;
}

.third img {
    display: block;
    margin: 0 auto;
    padding-right: 12px;
    padding-bottom: 26px;
}

.params {
    font-size: 12px;
    line-height: 25px;
}

.params strong {
    font-weight: 600;
    font-size: 12px;
}

.box {
    margin-top: 18px;
}

.blocks {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.profile {
    justify-content: start;
    gap: 60px;
    margin-bottom: 31px;
}

.tools {
    justify-content: start;
    gap: 70px;
}

.progressBar {
    width: 68%;
    height: 18px;
    background: #F5D6AB;
}

.bar {
    height: 100%;
    background: #C66C49;
}

#last {
    padding-bottom: 25px;
}

.fourth {
    text-align: center;
}

#port {
    margin: 25px 5px 19px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

#ux {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin: 0 12px 15px 0;
}

#lorem {
    font-weight: 400;
    font-size: 12px;
    margin: 0 auto;
    padding: 0 5px 25px 0;
    text-align: center;
    line-height: 15px;
}

.collage {
    padding-bottom: 7px;
}

.pictureLeft img{
    display: flex;
    padding-bottom: 12px;
}

.pictureRight img{
    display: flex;
    padding-bottom: 12px;
    padding-left: 14px;
}

.fourth div{
    display: inline-block;
}

.fifth {
    padding: 0 29px 0 34px;
    background-color: #FFFAF2;
}
.fifth h1 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding-top: 26px;
    margin: unset;
    padding-bottom: 25px;
}

.container-get {
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
}

.container-get p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: unset;
    padding-bottom: 19px;
}

.get-left {
    padding-right: 100px;
    margin: unset;
}

.get-end p {
    margin: unset;
    padding: 0 0 7px 7px;
}

#tel {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

#mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
}

#chevron img{
    padding: 22px 4px 0 0;
    position: relative;
    float: right;
}
