@media only screen and (min-width: 425px) {
    .first {
        min-height: 320px;
    }
    .back {
        min-height: 320px;
    }
}

@media only screen and (max-width: 767px){
    .header h6 {
        display: none;
    }

    #arrow {
        display: none;
    }

    #chevSmall {
        display: none;
    }
}

@media only screen and (min-width: 768px){
    #chevron {
        display: none;
    }

    .first {
        background-image: url("bgBig.png");
        height: 410px;
    }

    .back {
        background: #C66C494D 30%;
        height: 100%;
    }

    .padding {
        padding: 0 11.6% 7% 11.6%;
    }

    .second {
        text-align: center;
        padding: 0 11.6% 0 11.6%;
    }

    .third {
        padding: 0 11.6% 0 11.6%;
    }

    .header {
        background-size: 100% 100%;
        display: flex;
        text-align: left;
        align-items: center;
        padding: 5.5% 11.6% 0 11.6%;
    }

    .headers {
        margin-top: 6%;
        min-height: 251px;
        text-align: left;
        padding: 0 11.6% 0 11.6%;
    }

    #sv {
        display: none;
    }
    
    h1 {
        text-align: left;
        padding: 7% 0 0 0;
        margin: unset;
        font-weight: 700;
        font-size: 24px;
    }

    h2 {
        font-weight: 400;
        font-size: 64px;
        line-height: 77px;
    }

    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    h4 {
        font-weight: 400;
        font-size: 18px;
        margin-top: 21px;
    }

    h6 {
        flex: 1;
        font-size: 18px;
        font-size: 400;
        margin: unset;
        justify-content: space-between;
    }

    #folio {
        font-weight: 400;
        flex: 5;
        text-align: start;
        padding: unset;
    }

    #contact {
        text-align: right;
    }

    .second h1 {
        font-weight: 700;
        font-size: 24px;
        margin: unset;
    }

    .second p {
        height: auto;
        line-height: 30px;
        font-weight: 400;
        font-size: 18px;
        margin-top: 6%;
        margin-bottom: 12.5%;
    }

    #skills {
        padding: 7% 0 6% 0;
    }

    .third img {
        padding-right: 6%;
        margin: unset;
        width: 350px;
        flex: 2;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 12%;
    }

    .params {
        flex: 3;
        width: 57%;
    }

    .params span {
        font-size: 18px;
        font-weight: 600;
    }

    .params strong {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    .box {
        margin-top: unset;
    }

    .blocks {
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: unset;
        font-size: 18px;
    }

    .profile {
        padding-bottom: 8%;
        padding-top: unset;
    }

    .progressBar {
        width: 64%;
    }

    .tools {
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: unset;
        font-size: 18px;
    }

    strong {
        font-size: 18px;
        flex: 4;
    }
    
    span {
        font-size: 18px;
        flex: 7;
    }

    #last {
        padding: unset;
        margin: unset;
    }

    #port {
        line-height: 29px;
        font-weight: 700;
        font-size: 24px;
        margin: unset;
    }

    #ux {
        line-height: 25px;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        padding-top: 5.2%;
    }

    #lorem {
        text-align: start;
        flex: 1;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .collage {
        display: flex;
        flex-wrap: nowrap;
        flex: 2;
        text-align: right;
    }

    #group {
        display: flex;
    }

    .pictureRight img {
        min-width: 180px;
    }

    .pictureLeft img {
        min-height: 100px;
        align-self: flex-start;
    }

    #rectangle {
        min-height: 165px;
    }

    .fifth {
        padding: 0 11.6% 6% 11.6%;
    }

    .fifth h1 {
        padding: 7% 0 6.6% 0;
    }

    .container-get {
        padding: unset;
        flex: 2;
    }

    .container-get p{
        font-size: 18px;
        padding: 0 0 17% 0;
    }

    .get-end {
        flex: 1;
    }

    .get-left {
        padding-right: 40%;
    }

    #getAll {
        display: flex;
        align-items: flex-start;
    }

    #chevSmall img{
        padding: 62px 4px 0 0;
        position: relative;
        width: 24px;
        float: right;
    }

    #mail {
        font-size: 18px;
        padding-top: unset;
        padding-bottom: 7%;
    }

    #tel {
        font-size: 18px;
        padding: unset;
    }

}

@media only screen and (min-width: 1080px){
    #chevron {
        display: none;
    }

    .first {
        background-image: url("bgBig.png");
        height: 575px;
    }

    .back {
        background: #C66C494D 30%;
        height: 100%;
    }

    .header {
        background-size: 100% 100%;
        display: flex;
        text-align: left;
        align-items: center;
        padding: 6% 11.6% 0 11.6%;
    }

    .second p {
        line-height: 30px;
    }

   
    .box {
        margin-top: unset;
    }

    .flex {
        padding-bottom: 13.5%;
    }

    .progressBar {
        height: 25px;
    }

    .collage {
        flex: 2;
        text-align: right;
    }

    .pictureRight img {
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }

    .pictureLeft img {
        max-width: 100%;
        max-height: 100%;
        align-self: flex-start;
    }

    #rectangle {
        max-width: 100%;
        max-height: 100%;
    }

    .padding {
        padding-bottom: 8%;
    }

}
