@media only screen and (max-width: 767px){
    .header h6 {
        display: none;
    }

    #arrow {
        display: none;
    }
}

@media only screen and (min-width: 768px){
    .first {
        background-image: url("./bg\ \(1\).png");
        height: 410px;
    }

    .back {
        background: #C66C494D 30%;
        height: 100%;
    }

    .padding {
        padding: 0 11.6% 0 11.6%;
    }

    .second {
        text-align: center;
        padding: 0 11.6% 0 11.6%;
    }

    .third {
        padding: 0 11.6% 0 11.6%;
    }

    .header {
        background-size: 100% 100%;
        display: flex;
        text-align: left;
        padding: 6.5% 11.6% 0 11.6%;
    }

    .headers {
        margin-top: 53px;
        min-height: 251px;
        text-align: left;
        padding: 0 11.6% 0 11.6%;
    }

    #sv {
        display: none;
    }
    
    h1 {
        padding: unset;
        margin: unset;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        margin-top: 22px;
    }

    h4 {
        margin-top: 43px;
    }

    #folio {
        display: none;
    }

    #small {
        font-weight: 400;
        flex: 5;
        text-align: start;
    }

    h6 {
        flex: 1;
        font-size: 12px;
        margin: unset;
        justify-content: space-between;
    }

}
