.desc {
    color: rgb(89, 86, 86);
}

.delete {
    display: flex;
    justify-content: flex-end;
}

#task-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#errorInput {
    color: red;
}

#show {
    display: flex;
    justify-content: flex-start;
}

.hiddenTask {
    display: none;
}